<!DOCTYPE html>
    <head>

        <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <title>Password</title>

    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="item">
                    <h2>Password Checker</h2>
                    <form method="POST" class="check">
                        <input type="hidden" name="form" value="check">
                        <p>Enter your password to check strength:
                         <input name="passwordCheck" type="password"> </p>
                        <p> <input type="submit" class="button" value="Check"> </p>
                    </form>
                </div>
                <div class="vert-line"></div>
                <div class="item">
                    <h2>Password Generator</h2>
                    <form method="POST" class="generate">
                        <input type="hidden" name="form" value="generate">
                        <p>Generate me a 
                            <select name="strength">
                                <option value="strong">strong</option>
                                <option value="medium">medium</option>
                                <option value="weak">weak</option>
                        </select> 
                        password</p>
                        <p> <input type="submit" class="button" value="Generate"> </p>
                    </form>
                </div>    
            </div>
        </div>
    </body>
</html>